%nav
  %ul
    = nav_link 'Über AME', '#'
    = nav_link 'Projekte', page_projects_path, action: 'project'
    = nav_link 'Austellungen', '#'
    = nav_link 'Shop', '#'
    = nav_link 'Kontakt', '#'
    = nav_link 'Presse', '#'
