%nav
  %ul
    = nav_link 'Über AME', page_abouts_path, action: 'about'
    = nav_link 'Projekte', page_projects_path, action: 'project'
    = nav_link 'Ausstellungen', page_exhibits_path, action: 'exhibit'
    = nav_link 'Shop', '#'
    = nav_link 'Kontakt', page_contact_path, action: 'contact'
    = nav_link 'Presse', page_presses_path, action: 'press'
