%nav
  %ul
    %li= link_to 'Über AME', '#'
    %li= link_to 'Projekte', page_projects_path
    %li= link_to 'Austellungen', '#'
    %li= link_to 'Shop', '#'
    %li= link_to 'Kontakt', '#'
    %li= link_to 'Presse', '#'
