%h1 Kid:
%p
  %strong Name:
  = @kid.name
%p
  %strong Short:
  = @kid.short
%p
  %strong Video:
  = @kid.video
- if @kid.content
  %p
    %strong Content:
    = markdown(@kid.content)
%h2 Images
- @kid.images.each do |image|
  = image_tag attachment_url(image, :file, :fit, 300, 300, format: "jpg")
  %br
= link_to 'Back to Project', project_path(@kid.project)
|
= link_to 'Edit', edit_kid_path(@kid)
