<p id="notice"><%= notice %></p>

<h1>Press Kits</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @press_kits.each do |press_kit| %>
      <tr>
        <td><%= press_kit.title %></td>
        <td><%= link_to 'Show', press_kit %></td>
        <td><%= link_to 'Edit', edit_press_kit_path(press_kit) %></td>
        <td><%= link_to 'Destroy', press_kit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Press Kit', new_press_kit_path %>
