%p
  %strong Path:
  = @about_section.path
%p
  %strong Nav:
  = @about_section.nav
%p
  %strong Content:
  = @about_section.content
= link_to 'Edit', edit_about_section_path(@about_section)
|
= link_to 'Back', about_sections_path
