%h1 Exhibits
%table
  %thead
    %tr
      %th Location
      %th Content
      %th{:colspan => "3"}
  %tbody
    - @exhibits.each do |exhibit|
      %tr
        %td= exhibit.location
        %td= exhibit.content.truncate(40)
        %td= link_to 'Show', exhibit
        %td= link_to 'Edit', edit_exhibit_path(exhibit)
        %td= link_to 'Destroy', exhibit, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Exhibit', new_exhibit_path
