%section.project
  %aside
    .text
      %h1= t('nav.projects')
      %nav
        %ul
          - project_by_year(@projects).each do |year, projects|
            %li= year.strftime("%Y")
            %ul.sub
              - projects.each do |proj|
                = project_sub_link "#{proj.city} - #{proj.slum}", proj, project
  %article
    .text
      - if project.content
        = markdown(project.content)
    %br
    = render 'sections/kids', project: project
