%h1
  = t('pages.headline')
  %small= t('pages.slogan')

= render 'sections/splash', kids: @featured_kids
= render partial: 'sections/who_we_are'
= render 'sections/home_projects', kids: @featured_kids
