%section.press
  %aside
    .text
      %h1= t('pages.press.title')
      %h2= t('pages.press.description')

  %article
    .text
      %p= t('pages.press.kit')
      %p
        = t('pages.press.kit-description')
        - if @press_kits.count == 0
          %br
          = t('pages.press.no-kit')
        - @press_kits.each do |press_kit|
          %br
          = file_link(press_kit)
      %br
      %p= t('pages.press.interview')
      %p= t('pages.press.interview-description')
      %p
        = t('pages.press.speaker')
        Sascha Decker
        %br
        = t('pages.press.tel')
        0228 / 2092 - 392
        %br
        Fax:
        0228 / 2092 - 333
        %br
        = mail_to 'sascha.decker@aktion-mensch.de'
