%section.press
  %aside
    .text
      %h1= t('pages.press.title')
      %h2= t('pages.press.description')

  %article
    .text
      %p= t('pages.press.kit')
      %p
        = t('pages.press.kit-description')
        - if @press_kits.count == 0
          %br
          = t('pages.press.no-kit')
        - @press_kits.each do |press_kit|
          %br
          = file_link(press_kit)
      %br
      %p= t('pages.press.speaker').upcase
      -# %p= t('pages.press.interview')
      -# %p= t('pages.press.interview-description')
      %p
        Jana Seibert
        %br
        = mail_to 'jana@artmeetseducation.de'
        %br
        +49 157 730 080 44
      %p
        Nico Klein-Allermann
        %br
        = mail_to 'nico@artmeetseducation.de'
        %br
        +49 176 203 094 72
