= simple_form_for @project do |f|
  = f.error_notification

  = f.input :year
  = f.input :country
  = f.input :city
  = f.input :slum
  = f.input :content, label: 'Description, multi language'
  = f.button :submit
