<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @project.year %>
</p>

<p>
  <strong>Country:</strong>
  <%= @project.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @project.city %>
</p>

<p>
  <strong>Slum:</strong>
  <%= @project.slum %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
