%h1 Project
%p
  %strong Year:
  = @project.year
%p
  %strong Country:
  = @project.country
%p
  %strong City:
  = @project.city
%p
  %strong Slum:
  = @project.slum
- if @project.content
  %p
    %strong Description - multi lang:
    = markdown(@project.content)

= link_to 'Edit', edit_project_path(@project)
|
= link_to 'View all projects', projects_path

%br
%br
%br

= render 'kids/index', kids: @kids
