= simple_form_for(@press_section) do |f|
  = f.error_notification
  .form-inputs
    = f.input :path
    = f.input :nav, label: 'Link text, multi lang'
    = f.input :content, label: 'Content, multi lang'
  .form-actions
    = f.button :submit
