!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport", "http-equiv" => "Content-Type"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %title Ame
    = csrf_meta_tags

  %body
    %header
      = image_tag('ame_logo.png')
      %nav
        %ul
          = nav_link 'Projects', projects_path
          = nav_link 'Sections', '#'
          %li= link_to 'Log Out', '#'
    %hr
    %section
      %p#notice= notice
      = yield
