!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport", "http-equiv" => "Content-Type"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %title Ame
    = csrf_meta_tags

  %body
    %header
      = image_tag('ame_logo.png')
      %nav
        - if admin_signed_in?
          %ul
            = nav_link 'Projects', projects_path
            = nav_link 'About Us', about_sections_path
            = nav_link 'Team', teams_path
            = nav_link 'Exhibitions', exhibits_path
            = nav_link 'Press', press_sections_path
            = nav_link 'Contact', contacts_path
            %li= link_to('Logout', destroy_admin_session_path, :method => :delete)
    %hr
    = lang_switcher "Deutsch", :de
    = lang_switcher "English", :en
    %section
      %p#notice= notice
      = yield
