!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport", "http-equiv" => "Content-Type"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Ame
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #bg-color{'data-turbolinks-permanent' => true}
    .page
      = render 'components/header'
      = render 'components/pop_out'
      = yield
      = render 'layouts/footer'
