!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport", "http-equiv" => "Content-Type"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "index, follow", :name => "robots"}/
    %meta{:content => content_for?(:desc) ? yield(:desc) : t('site.description'), :name => "description"}/
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-119191469-1"}
    %title Art Meets Education
    = render 'application/favicon'
    = canonical_tag
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .page
      = render 'components/header'
      = render 'components/pop_out'
      = yield
      = render 'layouts/footer'
      = render 'cookies_eu/consent_banner'
  / Global site tag (gtag.js) - Google Analytics
